#chart-select-bar {
	user-select: none;
}

#chart-select {
	display: inline-block;
}

.chart-tab {
	display: inline-block;
	padding: 0px 5px;
}

.chart-tab:hover {
	background: lightgray;
}

.chart-tab.chart-tab-selected {
	background: black;
	color: white;
}

#project-name {
	display: inline;
	float: right;
}
