kbd {
	padding: 0px 5px;
}

#main-and-sidebar {
	width: 100%;
	display: flex;
}

#main-canvas {
	max-width: 80%;
	width: auto;
	height: auto;
	background: black;
}

#side-bar {
	width: 20%;
	height: auto;
	float: right;
}

#inspector {
	height: 50%;
}

#history {
	height: 50%;
	overflow-y: scroll;
}

#hint {
	font-size: 16px;
}

#timelines {
	max-width: 100%;
	width: auto;
	height: auto;
	background: black;
}
