#menu {
	user-select: none;
}

.menu-item {
	display: inline-block;
}

.menu-master {
	padding: 0 5px;
}

.menu-master:hover, .menu-master:focus {
	background: black;
	color: white;
}

.menu-submenu {
	display: none;
	position: absolute;
	background: lightgray;
	padding: 5px 5px;
}

.menu-submenu-item:focus {
	background: black;
	color: white;
}

.menu-submenu-item-name {
	margin-right: 5px;
}

.menu-submenu-item-shortcut {
	float: right;
	color: gray;
}

kbd {
	padding: 0px 5px;
}

.toast {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 50%;
	background: gray;
	padding: 10px 20px;
	color: white;
	text-align: center;
	z-index: 100;
}

#main-and-sidebar {
	width: 100%;
	display: flex;
}

#main-canvas {
	max-width: 80%;
	width: auto;
	height: auto;
	background: black;
}

#side-bar {
	width: 20%;
	height: auto;
	float: right;
}

#inspector {
	height: 50%;
}

#history {
	height: 50%;
	overflow-y: scroll;
}

.chart-tab {
	padding: 0px 5px;
	user-select: none;
}

.chart-tab :hover {
	background: lightgray;
}

.chart-tab .selected {
	background: black;
	color: white;
}

.popup {
	position: absolute;
	border: solid black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 80%;
	user-select: none;
	z-index: 50;
}

.popup-title {
	text-align: center;
	font-weight: bold;
	padding: 5px 10px;
	background: lightgray;
}

.popup-contents {
	max-height: 100%;
	padding: 5px 10px;
	min-width: 200px;
	background: white;
	overflow: auto;
	height: auto;
}

.popup-buttons {
	text-align: right;
	padding: 5px;
	background: white;
}

.popup-button {
}

